mixin subheader 
    h3 Venus de Milo

mixin scrollDown
    div(class="w-full flex flex-row justify-center")
        div(class="scrollDownButton cursor-pointer")
            svg(class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1")
                polyline(points="6 9 12 15 18 9")

mixin scrollDownAnalog(target)
    div(class="w-full flex flex-row justify-center")
        a(href=target class="scrollDownButton cursor-pointer")
            svg(class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1")
                polyline(points="6 9 12 15 18 9")