section(id="description")
    div(class="grdA p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="b24eaa6e50a441c3a194a0ec3f23864a")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p The Venus de Milo is a 204 cm (6 ft 8 in) tall Parian marble statue of a Greek goddess, most likely Aphrodite, depicted half-clothed with a bare torso. The statue originally would have had two arms, two feet, both earlobes intact and a plinth. There is a filled hole below her right breast that originally contained a metal tenon that would have supported the separately carved right arm. Without arms, it is unclear what the statue originally looked like, but textile archeologist Elizabeth Wayland Barber notes that the posture of Venus de Milo suggests that she may have been hand spinning. 
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Greek Godess
        div(class="four")
            +scrollDownAnalog("#discovery")