section(id="discovery")
    div(class="grdD p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="0532cfb51e4340e3ade557838e154f11")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p It is generally asserted that the Venus de Milo was discovered on 8 April 1820 by a Greek farmer named Yorgos Kentrotas, inside a buried niche within the ancient city ruins of Milos. This ancient city is the current village of Trypiti, on the island of Milos (also called Melos, or Milo) in the Aegean, which was then a part of the Ottoman Empire.
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Discovery
        div(class="four")
            +scrollDownAnalog("#fame")



