section(id="fame")
    div(class="grdE p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="1904956f9c0e42cc93f11e2f07e20d2c")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p Upon its discovery in 1820, the Venus de Milo was considered to be a significant artistic finding, but did not gain its status as an icon until later on. The exact circumstances in which she was discovered, however, are uncertain. The Louvre and in turn, French art as a whole, had suffered great losses when Napoleon Bonaparte's looted art collection was returned to their countries of origin. The museum lost some of its most iconic pieces, such as the Vatican Museums' Laocoön and His Sons and the Uffizi Gallery's Venus de' Medici. The hole that the restitutions left in French culture allowed the perfect path for the Venus de Milo to become an international icon.
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Fame
        div(class="four")
            +scrollDownAnalog("#ww2")




