section(id="footer")
    div(class="grdB p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="3de03eb377a742348f57ccf37d5507f4")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            span Source:
            p(class="text-sm") "Venus de Milo" Wikipedia: The Free Encyclopedia. Wikimedia Foundation, Inc, 22 July 2004, https://en.wikipedia.org/wiki/Venus_de_Milo Accessed 18 May. 2023.
            div(class="mt-8")
            a(class="font-light text-neutral-300 text-xl lg:text-2xl" href="https://www.echtzeit-drei.de" target="_blank") www.echtzeit-drei.de
            p(class="font-semibold text-sm") interactive 3D visualisation