section(id="hero")
    div(class="grdC p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="8c1b4c4cc4d74fb3ac82b852c80a4fd2")
        div(class="two firstFadeB fade-out" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p The Venus de Milo is an ancient Greek sculpture that was created during the Hellenistic period, sometime between 150 and 125 BC. It is one of the most famous works of ancient Greek sculpture, having been prominently displayed at the Louvre Museum since shortly after the statue was rediscovered on the island of Milos, Greece, in 1820.  
        div(class="bg-green firstFadeA fade-out three border-r  border-amber-200" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            h1(id="heroHeadline" class="") Venus de Milo
        div(class="four")
            +scrollDownAnalog("#intro")