
div(id="ctrl" class="fixed bottom-0 p-4 w-screen pointer-events-none flex flex-row justify-end")
    a(href="#hero" id="backToTopButton" class="inHero mr-4 pointer-events-auto cursor-pointer z-50 inline-block rounded-full p-3 btn" data-ez3d-onclick="35a9e04b908541f1ab9b8221db93b98f")
        svg(class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1")
            polyline(points="18 15 12 9 6 15")


    div(id="infoButton" class="pointer-events-auto cursor-pointer  z-50 inline-block rounded-full p-3 btn" data-ez3d-onclick="35a9e04b908541f1ab9b8221db93b98f")
        svg(class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1")
            path(d="M16.466 7.5C15.643 4.237 13.952 2 12 2 9.239 2 7 6.477 7 12s2.239 10 5 10c.342 0 .677-.069 1-.2")
            path(d="m15.194 13.707 3.814 1.86-1.86 3.814")
            path(d="M19 15.57c-1.804.885-4.274 1.43-7 1.43-5.523 0-10-2.239-10-5s4.477-5 10-5c4.838 0 8.873 1.718 9.8 4")






