section(id="inspiredWorks")
    div(class="grdA p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="951f233921b2442f861e897fb24f95cd")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p Many modern artists have been inspired by the statue piece since it first arrived at the Louvre. One of the more notable pieces was created by French Post-Impressionist painter Paul Cézanne who drew a pencil study in 1881. Another inspired work was by René Magritte, who painted a reduced-scale version of plaster, with bright pink and dark blue, entitled Les Menottes de Cuivre or The Copper Handcuffs in 1931. Even more recently are the works of Neo-Dada Pop artist Jim Dine, who has often utilized the Venus de Milo in his sculptures and paintings since the 1970s. Possibly the most widely-known adaptation is that of Salvador Dalí, with his 1936 creation Venus de Milo aux tiroirs (Venus of Milos with Drawers). The Spanish Surrealist created a half-size plaster cast, painted it, and covered the slightly open drawers with metal knobs and fur pom-poms. This inspired recreation of the famous sculpture was meant to display the "goddess of love as a fetishistic anthropomorphic cabinet with secret drawers filled with a maelstrom of mysteries of sexual desires that only a modern psychoanalyst can interpret" (Oppen & Meijer, 2019).
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Inspired works
        div(class="four")
            +scrollDownAnalog("#footer")