section(id="intro")
    div(class="grdA p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="35a9e04b908541f1ab9b8221db93b98f")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p The Venus de Milo is believed to depict Aphrodite, the Greek goddess of love, whose Roman counterpart was Venus. The sculpture is sometimes called the Aphrodite de Milos, due to the imprecision of naming the Greek sculpture after a Roman deity (Venus). Some scholars theorize that the statue actually represents the sea-goddess Amphitrite, who was venerated on the island in which the statue was found. The work was originally attributed to the 4th century BC Athenian sculptor Praxiteles, but, based upon an inscription on its plinth, it is now widely agreed that the statue was created later, and instead is the work of Alexandros of Antioch.  
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Hellenistic period
        div(class="four")
            +scrollDownAnalog("#size")

