section(id="modernUse")
    div(class="grdA p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="face379dea62474b919bf7e6ef84fbfc")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p The statue has greatly influenced masters of modern art; two prime examples are Salvador Dalí's 1936 statue Venus de Milo with Drawers and his painting The Hallucinogenic Toreador (1969–70) and its repeated images of the statue.
            p The statue was formerly part of the seal of the American Society of Plastic Surgeons (ASPS), one of the oldest associations of plastic surgeons in the world.
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Modern use
        div(class="four")
            +scrollDownAnalog("#inspiredWorks")








