section(id="size")
    div(class="grdA p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="b5950e92add64112b320676848ff1bda")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p Made of Parian marble, the statue is larger than life size, standing 204 cm (6 ft 8 in) high. The statue is missing both arms, with part of one arm, as well as the original plinth, being lost after the statue's rediscovery.  
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 Parian marble
        div(class="four")
            +scrollDownAnalog("#description")



