section(id="ww2")
    div(class="grdD p-4 lg:p-8 w-screen h-screen m-auto gap-4" data-ez3d-onenter="484f5210984d49028a67f3ed535853e6")
        div(class="two" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            p During the beginning of the German invasions during World War II, Jacques Jaujard, the director of the French Musées Nationaux, anticipating the Fall of France, decided to organize the evacuation of the Louvre art collection to the provinces. Venus de Milo along-with The Winged Victory of Samothrace were kept at Château de Valençay, which was spared the German occupation on a technicality. 
        div(class="bg-green three" data-anim data-anim-enter="fade-in" data-anim-leave="fade-out")
            +subheader
            h2 During World War II
        div(class="four")
            +scrollDownAnalog("#modernUse")




