@use './scss/fonts.scss';
@use './scss/scrollIndicator.scss';
@use './scss/scrollSnap.scss';
@use './scss/gridA.scss';
@use './scss/gridB.scss';
@use './scss/gridC.scss';
@use './scss/gridD.scss';
@use './scss/gridE.scss';
@use './scss/animations.scss';
@use './scss/buttons.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;

    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: -webkit-fill-available;

    h1,
    h2 {
        font-family: 'DM Serif Display', 'Times New Roman', Times, serif;
    }

    h3,
    p,
    a,
    span {
        font-family: 'DM Sans', 'Courier New', Courier, monospace;
    }

    h1 {
        @apply text-5xl md:text-8xl lg:text-9xl text-neutral-200
    }

    h2 {
        @apply text-4xl md:text-8xl text-neutral-200
    }

    h3 {
        @apply text-lg text-amber-200
    }

    #ctrl{
        z-index: 3;
    }

    #wrapper {
        height: 100%;
        width: 100vw;
        position: relative;
        z-index: 2;
        overflow: scroll;
        transition: transform .25s, width .25s, height .25s;
        @apply text-neutral-100;
        user-select: none;
        // background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%);

        // Scrollbar
        scrollbar-width: none;

        &::-webkit-scrollbar {
            /* WebKit */
            width: 0;
            height: 0;
        }

        &.hide {
            transform: translate(-100%, 0);
            width: 0;
            height: 0;
            overflow: hidden;
        }

        section {
            height: 100vh;
            width: 100%;
        }

        & p {
            // @apply p-2 lg:p-4  rounded-md;
            // background-color: #1717173b;
        }
    }

    #ez-iframe {
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
    }

    #backToTopButton{
        transition: transform 1.25s;
        transform: translate(0, 0);
        &.hide{
            transform: translate(0, 500%);
        }

        &.inHero{
            transform: translate(0, 500%);
        }
    }
}