doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Venus de Milo echtzeit3D Demo
        link(rel="stylesheet", href="app.css")
        script(src="app.js") 
        script(src="ezAnimate.js") 
        script(src="https://ez3dstatic.netlify.app/echtzeit.js")
    body 

include ./pug/__mixins.pug
include ./pug/infoButton.pug
<iframe id="ez-iframe" src="https://ez3d-venus-content.netlify.app/view.html" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
div#wrapper
    include ./pug/scrollIndicator.pug
    include ./pug/hero.pug 
    include ./pug/intro.pug 
    include ./pug/size.pug 
    include ./pug/description.pug 
    include ./pug/discovery.pug 
    include ./pug/fame.pug 
    include ./pug/ww2.pug
    include ./pug/modernUse.pug
    include ./pug/inspiredWorks.pug
    include ./pug/footer.pug

script.
    var iframe = document.getElementById( 'ez-iframe' );
    var ez = new echtzeit.api( iframe );

    
    // Element scroll animations
    const d = new ezAnimate.d();
    
    // app
    new app.d(ez);