/* dm-serif-display-regular - latin */
@font-face {
    /*!
    * @license
    * Copyright Google Fonts DM Serif Display. Licensed under the Open Font License.
    * See license text at https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
    */
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/dm-serif-display-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('./assets/fonts/dm-serif-display-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/dm-serif-display-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./assets/fonts/dm-serif-display-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./assets/fonts/dm-serif-display-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./assets/fonts/dm-serif-display-v12-latin-regular.svg#DMSerifDisplay') format('svg');
    /* Legacy iOS */
}


/* dm-sans-regular - latin */
@font-face {
    /*!
    * @license
    * Copyright Google Fonts DM Sans. Licensed under the Open Font License.
    * See license text at https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
    */
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/dm-sans-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('./assets/fonts/dm-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/dm-sans-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./assets/fonts/dm-sans-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./assets/fonts/dm-sans-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./assets/fonts/dm-sans-v11-latin-regular.svg#DMSans') format('svg');
    /* Legacy iOS */
}