.grdD {
    max-width: 1280px;

    & div {
        // background-color: rgb(0, 195, 255);
        // color: #e2e8f0;
    }

    display: grid;
    grid-template-rows: 0.2fr 2.5fr 0.7fr 0.05fr;
    grid-template-columns: 1fr 1fr 1fr 0.2fr;
    grid-template-areas: 
    "a a a a a "
    "b b b b b"
    "f f f f f"
    "g g g g g";

    

    @media (min-width: 640px) {
        & div {
            // background-color: rgb(37, 162, 211);
        }

        grid-template-rows: 2fr 1fr 1fr 0.2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "a a a a a"
        "c b b b b"
        "f f f f e"
        "g g g g g";
    }

    @media (min-width: 1024px) {
        & div {
            //background-color: rgb(255, 0, 140);
        }

        grid-template-rows: 2.75fr 1fr 1fr 0.2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "a a a a a"
        "c c c b b"
        "f f f h h"
        "g g g g g";
    }

    & .one {
        grid-area: a;
    }

    & .two {
        grid-area: b;
        align-self: end;
        @apply p-2 lg:p-4 rounded-md;
        //background-color:#2a2e3191
        //background-color:#2a2e3159;
        //background-color: rgba(154, 142, 131,.85);
        max-height: 50vh;
        overflow-y: scroll;
        
        
    }

    & .three {
        grid-area: f;
    }

    & .four {
        grid-area: g;
    }
}