#scrollIndicatorPos {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    /* The progress container (grey background) */
    #scrollIndicatorWrapper {
        width: 100%;
        height: 4px;
    }

    /* The progress bar (scroll indicator) */
    #scrollIndicator {
        height: 100%;
        background: #fbbf24;
        width: 0%;
        transition: width 0.1s;
    }
}